/* setup colours in root for consistency and allow for changes later if necessary */
:root {
    --text: rgb(125, 217, 233);
    --border: rgb(134, 204, 221);
    --link: rgb(118, 218, 151);
    --hover: rgb(216, 216, 137);
}

/* Set headline sizes */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

/* Set font family for body of page */
body {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: large;
}

/* Made header element to nest nav bar in */
header {
    width: 100%;
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* I'm not a fan of pictures so added avatar */
.avatar {
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

/* Class to adjust header title */
.title {
    border: 10px;
    padding: 7px 2px 7px 20px;
    background-color: var(--border);
}

/* class to adjust nav bar and elements within*/
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navigation li {
    padding 10px;
    margin: 10px;
}

.navigation li a{
    color: var(--text);
}