/* setup colours in root for consistency and allow for changes later if necessary */
:root {
    --text: rgb(125, 217, 233);
    --border: rgb(134, 204, 221);
    --link: rgb(118, 218, 151);
    --hover: rgb(216, 216, 137);
}

/* Set headline sizes */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

/* Set font family for body of page */
body {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: large;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(134, 204, 221));
}

/* Made header element to nest nav bar in */
header {
    width: 100%;
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* I'm not a fan of pictures so added avatar */
.avatar {
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

/* Class to adjust header title */
.title {
    border: 10px;
    padding: 7px 2px 7px 20px;
    background-color: var(--border);
}

/* class to adjust nav bar and elements within*/
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navigation li {
    padding 10px;
    margin: 10px;
}

.navigation li a{
    color: var(--text);
}

/* class to manipulate banner */
.banner {
    width: 100%;
    height: 100px;
    background-image: url(./images/header-background.jpg);
    background-size: cover;
    align-content: flex-end;
}

/* class to manipulate subtitle in banner */
.subtitle {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
    border: 10px;
    position: absolute;
    right: 0px;
    top: 110px;
    background-color: var(--border);
}

/* created class to manipulate section titles */
.section-title {
    padding: 50px 10px 50px 50px;
    text-align: right;
    border-right: solid black;
    width: 20%;
}

/* created class for About Me section */
.sub-section-about {
    display: flex;
    padding-top: 0px;
    margin: 10px;
    flex-wrap: wrap;
}

/* class to manipulate text */
.about-me-text{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    flex: 5;
    flex-direction: column;
    padding-left: 10px;
}

/* class manipulate Work section */
.sub-section-work {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    margin: 10px;
    flex-wrap: wrap;
}

/* class to manipulate box that contains cards */
.card-box {
    padding: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* classes to manipulate cards and contents */
.card-1 {
    border: solid var(--border);
    padding: 10px;
    width: 99%;
    height: 200px;
    flex-grow: 2;
    background-image: url(./images/card-1.jpg);
    background-size: cover;
    background-position-y: center;
}

.card-2 {
    border: solid var(--border);
    padding: 10px;
    width: 48%;
    height: 100px;
    flex-grow: 1;
    background-image: url(./images/card-2.jpg);
    background-size: cover;
}

.card-3 {
    border: solid var(--border);
    padding: 10px;
    width: 48%;
    height: 100px;
    flex-grow: 1;
    background-image: url(./images/card-3.jpg);
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
}

.card-4 {
    border: solid var(--border);
    padding: 10px;
    width: 48%;
    height: 100px;
    flex-grow: 1;
    background-image: url(./images/card-4.jpg);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

.card-5 {
    border: solid var(--border);
    padding: 10px;
    width: 48%;
    height: 100px;
    flex-grow: 1;
    background-image: url(./images/card-5.jpg);
    background-size: cover;
    background-position-y: 240px;
    background-position-x: center;
}

/* class to manipulate title of card and elements */
.card-title {
    background-color: var(--border);
    padding: 7px 2px 7px 20px;
    display: flex;
    position: absolute;
    height: fit-content;
    bottom: 0;
    left: 0;
    justify-content: space-between;
}

.card-title h2 {
    margin-right: 7px;
    margin-bottom: 10px;
    padding-right: 45px;
    display: inline-flex;
}

.card-title h3 {
    margin-right: 7px;
    position: absolute;
    bottom: 2px;
}

/* secondary class to give extra control to manipulate .card-title */
.card {
    display: flex;
    position: relative;
    background-blend-mode: soft-light;
}

/* pseudo code to add animation when cursor hovers over work box */
.card:hover {
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

/* class for contact section */
.sub-section-contact {
    display: flex;
    padding: 50px 0;
    margin: 10px 0;
    flex-wrap: wrap;
}

/* class to create box to contain contact links */
.links_box {
    display: flex;
    flex-grow: 1;
    width: 70%;
    justify-content: center;
}

/* class to manipulate contact links and list items */
.cont_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.cont_links li {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: gray;
}